div {
   /*
   First defines x distance; can be negative
   Second defines y distance; can be negative
   Third defines blue; cannot be negative (optional; default: 0)
   Fourth is color (optional; default: whatever color is)
   */
   filter: drop-shadow(25px 25px);
   filter: drop-shadow(25px 25px 20px);
   filter: drop-shadow(25px 25px 20px pink);

   transition: .2s
   /*background-color: #f004;*/
}

div:hover {
   filter: none;
}
