div {
   /*
   0 or 0%: Fully grayscale, like grayscale(0);
   1 or 100%: Unchanged
    */
   filter: saturate(50000);

   transition: .2s
   /*background-color: #f004;*/
}

div:hover {
   filter: none;
}
